body {
    margin: 0;
    background-color: #414141;
}

.loader {
    position: fixed;
    /* top: 0;
    left: 0; */
    inset: 0;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    transition: opacity 3s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 10px solid #dddddd;
    border-top-color: #D80027;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}



/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 12px;
    /* Height of the scrollbar (for horizontal scrollbar) */
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background-color: #D80027;
    /* Color for the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners */
    border: 3px solid transparent;
    /* Space around the thumb */
    background-clip: content-box;
    /* Makes the border space visible */
    cursor: pointer;
    z-index: 9999;
    /* Ensure it's above other elements */
}

::-webkit-scrollbar-track {
    background: #3C3C3C;
    /* Background for the track */
    border-radius: 0px;
    /* Rounded corners for the track */
    -webkit-box-shadow: none;
    z-index: 9999;
    /* Ensure it's above other elements */
}

::-webkit-scrollbar-track-piece {
    border-radius: 10px;
    /* Ensure rounded corners for the track piece */
    z-index: 9999;
    /* Ensure it's above other elements */
}

::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

/* .scroll{
    overflow: overlay;

}

Ensure scrollbars are above the content
body {
    overflow: overlay;
    position: relative; Ensure body positioning context
} */